
@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Thin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedThin.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedThinOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedThinItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Light.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedLight.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-LightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedLightOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-LightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedLightItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Regular.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Extended.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Extended.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Oblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Italic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Medium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedMedium.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-MediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedMediumOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-MediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedMediumItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-SemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedSemiBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-SemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedSemiBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-SemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedSemiBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Bold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-BoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-BoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraBold.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraBoldOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedExtraBoldItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-Heavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedHeavy.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2-unhinted/IosevkaTermSS15-HeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: oblique;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedHeavyOblique.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-HeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-HeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Iosevka Term SS15 Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: expanded;
	font-style: italic;
	src: url('WOFF2-unhinted/IosevkaTermSS15-ExtendedHeavyItalic.woff2') format('woff2'), url('TTF-unhinted/IosevkaTermSS15-ExtendedHeavyItalic.ttf') format('truetype');
}
